.header-container {
  padding: 18px;
}

.content-container {
  padding: 18px;
}

.content-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 18px;
  margin-bottom: 16px;
}

.bot-list {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 12px;
  }

  @media screen and (max-width: 730px) {
    flex-direction: column;
    align-items: flex-start;

    &__item {
      margin-bottom: 12px;
    }
  }
}

.success-tag {
  background-color: #2fc787;
  border: 1px solid #2fc787;
  border-radius: 6px;
  padding: 8px;
}


.align-affiliate-input {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin-bottom: 6px;

  >div {
    margin-right: 6px;
  }

@media screen and (max-width: 730px) {
    flex-direction: column;
    align-items: flex-start;
    >div {
      margin-bottom: 6px;
    }
  }
}

.row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}


.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-start-column {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  flex-direction: column;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.row-start {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.button-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__item {
    &:not(:first-child) {
      margin-left: 12px;
    }
  }
}

.payment-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  &__wallet {
    margin-left: 42px;
  }
}

.flex-container {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 12px;
  }

  @media screen and (max-width: 730px) {
    flex-direction: column;
    align-items: flex-start;

    &__item {
      margin-bottom: 12px;
    }
  }
}