@import './auth.scss';
@import './button.scss';
@import './typography.scss';
@import './sider.scss';
@import './content.scss';
@import './overrides.scss';

* {
  box-sizing: border-box;
}


.mt {
  margin-top: 24px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-12 {
  margin-top: 12px;
}


.ml {
  margin-left: 8px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 18px;
  width: 100%;
}