.align-text {
  text-align: center;
}

.gains-text {
  color: #2fc787;
  font-size: 27px;
}

.positive-gain {
  color: #2fc787;
}

.negative-gain {
  color: #dc3545;
}

.text-info {
  font-size: 16px;
  color: #000 !important;
}

.text-header {
  font-size: 14px;
}